.landing_page{
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    &__tabs{
        margin-bottom: 40px;
        &__cards{
            // height: 250px;
            border-radius: 50px !important;
            transition: transform .4s; /* Animation */
            box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;

            &:hover{
                cursor: pointer;
                // opacity: 1.2;
                transform: scale(1.1);
            }

            img{
                position: absolute;
                top: 20px;
            }
            .ant-card-cover{
                height: 180px;
            }
        }
    }
}